<div class="listContainer">
    <app-loading *ngIf="isLoading"></app-loading>


    <app-error *ngIf="isError" [message]="'Dainų sarašo užkrauti nepavyko'" (close)="closeError()"></app-error>
    <div class="lentele">
        <table class="table" *ngIf="!isLoading && !isError">
            <thead>
                <tr>
                    <th>Nr.</th>
                    <th>Dainos atlikėjas</th>
                    <th>Dainos pavadinimas</th>
                    <th>Išleidimo metai</th>
                    <th>Statusas</th>
                    <th class="table-veiksmai">Veiksmai</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let song of songs; let i=index">
                    <td>{{i+1}}</td>
                    <td>{{song.author}}</td>
                    <td>{{song.songName}}</td>
                    <td>{{song.year}}</td>
                    <td>{{song.status}}</td>
                    <td>
                        <a class="migtukas" [routerLink]="['/edit', song.id]">Redaguoti</a>&nbsp;
                        <button class="migtukas" (click)="deleteRecord(song.id)">Ištrinti</button>

                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>